﻿@model IEnumerable<GoldenPondViewModel>
@using Test.ViewModels;
@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/_LayoutMessagesDbAndGoldenPond.cshtml";
}


@section MainContent{
<h3 style="margin-top:10px; margin-bottom:10px;"><b>Golden Pond</b></h3>

<div class="row hidden-xs visible-md visible-lg div-row-title">
    <div class="col-md-4"><b>Start</b></div>
    <div class="col-md-4"><b>Commands</b></div>
    <div class="col-md-4"><b>End</b></div>
</div>

@foreach (var t in Model) { 
<div class="row">
    <div class="col-md-4"><span class="hidden-md visible-xs visible-sm"><u>Start:</u></span>@t.StartState.X @t.StartState.Y @t.StartState.Orientation</div>
    <div class="col-md-4"><span class="hidden-md visible-xs visible-sm"><u>Commands:</u></span>@t.Commands</div>
    <div class="col-md-4"><span class="hidden-md visible-xs visible-sm"><u>End:</u></span>@t.EndState.X @t.EndState.Y @t.EndState.Orientation</div>
</div>
<hr />
}
}

