﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}


select,
textarea {
    max-width: 280px;
}


.field-validation-error{ color: red; font-weight: bold; }

.Tests-box {
    border: solid 1px lightgray;
    padding:25px;
    border-radius:6px;

}

.div-row-title{

    background-color:lightgray;     
    margin-bottom:14px;
    padding-top:12px;
    padding-bottom:12px;
}

.badge-extra {
    background-color: gray;
    padding:8px;
    margin-top:-3px;
}

/* http://tutorialsplane.com/bootstrap-vertical-and-horizontal-divider/ */
.h-divider {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    width: 100%;
    border-top: 1px solid gray;
}
.v-divider{
 margin-left:5px;
 margin-right:5px;
 width:1px;
 height:100%;
 border-left:1px solid gray;
}