﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tiny Url Application</title> 
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">  
    <link rel="stylesheet" href="/content/site.css">
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
             
                <a href="#" class="navbar-brand"> <span class="glyphicon glyphicon-cog"></span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("GetSwift Test", "Index", "GetSwiftTest")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Messages DB
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Messages DB - EF", "Get3QueriesLists", "MessagesDB")</li>
                            <li>@Html.ActionLink("Messages DB - SQL", "Get3QueriesListsSQL", "MessagesDB")</li>                           
                        </ul>
                    </li>                  
                    <li>@Html.ActionLink("Golden Pond", "Demo", "GoldenPond")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top:30px;">
        <div class="row" style="padding-top:30px;">
            <div class="col-xs-12">
                <div id="main-content">
                    @RenderSection("MainContent", required: false)
                </div>
            </div>
        </div>
    </div>
    @RenderBody()   
    <footer>
        <div class="container">
            <div class="row" style="margin-top:25px;">
                <div class="col-xs-12 text-center">          
                    @RenderSection("FooterContent", required: false)
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    @RenderSection("scripts", required: false)
  </body>
</html>


    