﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTests.cshtml";
}

@section MainContent{

    <div class="row  hidden-sm hidden-xs" style="margin-top:10px;">
        <div class="col-md-3">
            <h3><b>Test</b></h3>
        </div>
        <div class="col-md-9">
            <h3><b>Test menu</b></h3>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-3">
            <h5><b>Tiny URL</b></h5>
        </div>
        <div class="col-md-9">
            <div class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand nav navbar-nav">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Home", "TinyUrl")</li>
                        <li>@Html.ActionLink("Admin", "Index", "TinyUrl")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr />


    <div class="row">
        <div class="col-md-3">
            <h5><b>Messages DB & Golden Pond</b></h5>
        </div>
        <div class="col-md-9">
            <div class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand nav navbar-nav">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Messages DB - EF", "TestEF", "MessagesDB")</li>
                        <li>@Html.ActionLink("Messages DB - SQL", "TestSQL", "MessagesDB")</li>
                        <li>@Html.ActionLink("Golden Pond", "Test", "GoldenPond")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-3">
            <h5><b>GetSwift</b></h5>
        </div>
        <div class="col-md-9">
            <div class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand nav navbar-nav">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("GetSwift Test", "Test", "GetSwift")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr />
   
}

@section scripts{
<script>
$(function() {
    $('.navbar-toggle1').on('click', function () {
        {
            $(this).trigger( "click" );
        }
    });
});
</script>
}

