﻿@model MessagesDBViewModel
@using Test.ViewModels;

@{
    ViewBag.Title = "Test MessagesDB";
    Layout = "~/Views/Shared/_LayoutMessagesDbAndGoldenPond.cshtml";
    
}

@section MainContent{
<h3><b>Messages DB (via @Model.Title)</b></h3>
<hr/>
<h4><b>Domain list</b></h4>
<div class="row hidden-xs visible-md visible-lg div-row-title">
    <div class="col-md-4"><b>Id</b></div>
    <div class="col-md-4"><b>Name</b></div>
</div>

@foreach (var d in Model.Domains)
{
    <div class="row">
        <div class="col-md-4"><span class="hidden-md visible-sm visible-xs"><u>Id:</u></span>@d.Id </div>
        <div class="col-md-4"><span class="hidden-md visible-sm visible-xs"><u>UrlText:</u></span>@d.UrlText</div>
    </div>
    <hr />
}


<h4 style="margin-top:60px;"><b>Email list</b></h4>

<div class="row hidden-xs visible-md visible-lg div-row-title">

    <div class="col-md-4"><b>Email</b></div>
    <div class="col-md-4"><b>Name</b></div>

</div>

@foreach (var d in Model.EmailAddressesWithPersonNames)
{
    <div class="row">
        <div class="col-md-4"><span class="hidden-md visible-sm visible-xs"><u>Email:</u></span>@d.Email</div>
        <div class="col-md-4"><span class="hidden-md visible-sm visible-xs"><u>Name:</u></span>@d.Name</div>
    </div>
    <hr />
}

<h4 style="margin-top:60px;"><b>Domain with total number of emails sent to it</b></h4>

<div class="row hidden-xs visible-md visible-lg div-row-title">
    <div class="col-md-4"><b>Domain</b></div>
    <div class="col-md-4"><b>Total</b></div>
</div>

@foreach (var d in Model.EmailsCountForDomains)
{
    <div class="row">
        <div class="col-md-4"><span class="hidden-md visible-sm visible-xs"><u>Domain:</u></span>@d.UrlText </div>
        <div class="col-md-4"><span class="hidden-md visible-sm visible-xs"><u>Count:</u></span>@d.Count</div>
    </div>
    <hr />
}
}




