﻿@model Test.ViewModels.GetSwiftTestViewModel
@using Test.Infrastructure;
@{
    ViewBag.Title = "GetSwiftTest";
    Layout = "~/Views/Shared/_LayoutGetSwift.cshtml";
}

@section MainContent{
    <h2 style="margin-top:10px;"><b>GetSwift Output:</b></h2>
    <hr/>
    <h4 style="margin-top:5px; margin-bottom:10px;"><b>Rejected packages - @Model.RejectedPackages.Count()</b></h4>
    <div class="row">
        <div class="col-xs-12">@String.Join(", ", Model.RejectedPackages)</div>
    </div>
    <hr/>

    <h4 style="margin-top:10px; margin-bottom:10px;"><b>Not assigned packages - @Model.NotAssignedPackages.Count()</b></h4>
    <div class="row">
        <div class="col-xs-12">@String.Join(", ", Model.NotAssignedPackages)</div>
    </div>
    <hr />

    <h4 style="margin-top:10px; margin-bottom:16px;"><b>Assigned packages - @Model.AssignedPackages.Count()</b></h4>
    <div class="row hidden-xs visible-md visible-lg div-row-title">
        <div class="col-md-2"><b>Package ID</b></div>
        <div class="col-md-2"><b>Drone ID</b></div>
        <div class="col-md-2"><b>Need Time</b></div>  
        <div class="col-md-3"><b>Scheduled Delivery</b></div>  
        <div class="col-md-3"><b>Deadline</b></div>      
    </div>
    @foreach (var t in Model.AssignedPackages)
    {
        <div class="row">
            <div class="col-md-2"><span class="hidden-md visible-xs visible-sm"><u>Package ID:</u></span>@t.packageId</div>
            <div class="col-md-2"><span class="hidden-md visible-xs visible-sm"><u>Drone ID:</u></span>@t.droneId</div>
            <div class="col-md-2"><span class="hidden-md visible-xs visible-sm"><u>Need Time:</u></span>@t.needTime</div>
            <div class="col-md-3"><span class="hidden-md visible-xs visible-sm"><u>Scheduled Delivery:</u></span>@t.delivery</div>
            <div class="col-md-3"><span class="hidden-md visible-xs visible-sm"><u>Deadline:</u></span>@t.deadline</div>
        </div>
        <hr />
    }
   

    <h2 style="margin-top:90px;"><b>GetSwift Input:</b></h2>
     <hr />
    <h4 style="margin-top:10px; margin-bottom:16px;"><b>Drones - @Model.Drones.Count()</b></h4>
    <div class="row hidden-xs visible-md visible-lg div-row-title">
        <div class="col-md-2"><b>Drone ID</b></div>
        <div class="col-md-2"><b>Return Time</b></div>
        <div class="col-md-4"><b>Location</b></div>
        <div class="col-md-4"><b>Package</b></div>
    </div>
    
    @foreach (var t in Model.Drones.OrderBy(b => b.droneId))
    {
        <div class="row">
            <div class="col-md-2"><span class="hidden-md visible-xs visible-sm"><u>Drone ID:</u></span>
                @t.droneId
            </div>
            <div class="col-md-2"><span class="hidden-md visible-xs visible-sm"><u>Return Time:</u></span>
                @t.location.TimeSpanCalculator(t.packages.FirstOrDefault()).SecondsToString()
            </div>
            <div class="col-md-4"><span class="hidden-md visible-xs visible-sm"><u>Location:</u></span>
               [@t.location.latitude, @t.location.longitude]
            </div>
            <div class="col-md-4">
                <span class="hidden-md visible-xs visible-sm"><u>Package:</u></span>
                @if (t.packages.Any())
                {
                    var p = t.packages.FirstOrDefault();
                    var destination = " [" + p.destination.latitude + ", " + p.destination.longitude + "]<br/>package ID: ";
                    @Html.Raw(destination); @Html.Raw(p.packageId);
                }
            </div>
        </div>
        <hr />
    }
   

    <h4 style="margin-top:50px; margin-bottom:16px;"><b>Packages - @Model.Packages.Count()</b></h4>
    <div class="row hidden-xs visible-md visible-lg div-row-title">
        <div class="col-md-2"><b>Package ID</b></div>
        <div class="col-md-4"><b>Destination</b></div>
        <div class="col-md-3"><b>Need Time for Delivery</b></div>
        <div class="col-md-3"><b>Deadline</b></div>
    </div>
    @foreach (var t in Model.Packages.OrderBy( b => b.packageId))
    {
        <div class="row">
            <div class="col-md-2"><span class="hidden-md visible-xs visible-sm"><u>Package ID:</u></span>
                 @t.packageId
            </div>
            <div class="col-md-4"><span class="hidden-md visible-xs visible-sm"><u>Destination:</u></span>
                [@t.destination.latitude, @t.destination.longitude]
            </div>
            <div class="col-md-3"><span class="hidden-md visible-xs visible-sm"><u>Need Time:</u></span>
                 @t.destination.TimeSpanCalculator().SecondsToString() 
            </div>
            <div class="col-md-3"><span class="hidden-md visible-xs visible-sm"><u>Deadline:</u></span>
                @t.deadline.UnixDateToString()<br/>
                Left time: @((Convert.ToInt64(t.deadline - TimeHelper.UnixNow())).SecondsToString())
             </div>
        </div>
        <hr />
    }
}
