﻿@model UrlMap
@using Test.Models.TinyUrl;
@{
    ViewBag.Title = "Tests";
    Layout = "~/Views/Shared/_LayoutTinyURL.cshtml";
}
@section MainContent{

@using (Html.BeginForm("MakeTinyUrl", "Tests", FormMethod.Post))
{
<div class="row" style="padding-top:40px;">
    <div class="col-xs-12 col-md-8">
       <h4><b> Make Tiny URL</b></h4>
      <div class ="Tests-box">
        <label>Enter a long URL to make tiny</label><br />
        @Html.ValidationMessageFor(m => m.LongUrl)
        <div class="input-group" style="margin-bottom:15px;">          
            @Html.TextBoxFor(m => m.LongUrl, new { @class = "form-control", placeholder = " Enter a long URL to make tiny" })
            <span class="input-group-btn">
                <button class="btn btn-primary btn-take-tiny-url" id="btnLogin" type="button">Go!</button>
            </span>
        </div>
        <br/>
        <label>Custom alias (optional, may contain letters, numbers)</label><br/>        
        @Html.ValidationMessageFor(m => m.TinyUrl)
        <div class="input-group">           
            <span class="input-group-addon bg-primary">@ViewBag.Host</span>
            @Html.TextBoxFor(m => m.TinyUrl, new { @class = "form-control", placeholder = " Custom alias (optional)" })
        </div>      
       </div>
        <div id="tiny-url-info" style="padding-top:60px;"></div>
    </div>    
</div>
}
}

@section Scripts {
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")

<script>
    $(function () {
        $(".container").on("click", ".btn-take-tiny-url", function (event) {

            $("#tiny-url-info").empty();
            var form = $(this).closest('form');
            form.validate();
            form.valid();
            if (!form.valid()) { return false };

            $.post("/TinyUrl/MakeTinyUrl", form.serialize(), function (data) {
                var urlMap = data;

                if (urlMap.Id == 0) {
                    BootstrapDialog.alert({
                        title: 'Warning',
                        message: "This alias was taken.",
                        type: BootstrapDialog.TYPE_WARNING,
                    });                  
                }
                else if (urlMap.Id == -2) {
                    BootstrapDialog.alert({
                        title: 'Warning',
                        message: "No free alias. Try in 2-3 hours.",
                        type: BootstrapDialog.TYPE_WARNING,
                    });
                }

                else if (urlMap.Id == -3) {
                    BootstrapDialog.alert({
                        title: 'Error',
                        message: "Long URL is not valid or dead",
                        type: BootstrapDialog.TYPE_DANGER,
                    });
                }

                else if (urlMap.Id == -1) {                  
                    BootstrapDialog.alert({
                        title: 'Error',
                        message: "Not able to make timy url. Try again.",
                        type: BootstrapDialog.TYPE_DANGER,
                    });
                }

                else {
                    $("#TinyUrl").val(urlMap.TinyUrl);
                    var control = $("#tmpSuccess").tmpl(urlMap);                
                    $("#tiny-url-info").append(control);
                }
            });
            return false;
        });
    })

</script>

<script type="text/html" id="tmpSuccess">
    <div style="padding-top:15px;">
        <h4><b>Tiny URL was created!</b></h4>
        <div class="Tests-box">
            <p> Tiny URL for <a href="${FullUrl}">${LongUrl}</a> was created.</p>
            <p> The following URL: <a href="@ViewBag.Host${TinyUrl}" target="_blank">@ViewBag.Host${TinyUrl}</a> open in new window </p>
        </div>
    </div>
</script>
}